{% extends "food/base.html" %}

{% block body %}
    {% for i in item_list %}
 
    
    <div class="row mb-3">
        <div class="col-md-3 offset-md-1">
            <img class="card" src="{{ i.item_img }}" alt="Coming Soon" style="height: 100px;">


        </div>

        <div class="col-md-4 offset-md-1">
          <h3>{{i.item_name}}</h3>
          <h5>{{i.item_desc}}</h5>
          <h6>{{i.item_price}}</h6>
        </div>

        <div class="col-md-2">
       <a href="{% url 'food:detail' i.id %}" class="btn btn-success">Details</a>
        </div>

      
    </div>




            {% comment %} old code {% endcomment %}
{% comment %} <ul>
    <li>
        
        {% comment %} <a href="/{{i.id}}"> {{i.id}}--{{i.item_name}}</a> {% endcomment %}

        {% comment %} <a href={% url 'food:detail' i.id %}> {{i.id}}--{{i.item_name}}</a> {% endcomment %}
{% comment %}namespace   app name:internal link(name) {% endcomment %}
    </li>        

{% comment %} <ul> {% endcomment %}

    {% endfor %}

  
    {% endblock%}